nav.navbar.navbar-inverse
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='https://github.com/zbay') Zbay Industries
      ul.nav.navbar-nav.navbar-left
        li
          a(href='https://page-exchange-zbay.c9users.io') Home
      ul.nav.navbar-nav.navbar-right
        if !loggedIn
            li
                a(href="https://page-exchange-zbay.c9users.io/signup") Sign Up
            li
                a(href="https://page-exchange-zbay.c9users.io/login") Login
        else
            li
                a(href="https://page-exchange-zbay.c9users.io/availableBooks") All Books
            li
                a(href="https://page-exchange-zbay.c9users.io/myBooks") My Books
            li.dropdown
                a(href="#" data-toggle="dropdown") My Trades
                    | 
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="https://page-exchange-zbay.c9users.io/pendingTrades/outgoing") Proposed By Me
                        a(href="https://page-exchange-zbay.c9users.io/pendingTrades/incoming") Proposed To Me
                        a(href="https://page-exchange-zbay.c9users.io/acceptedTrades") Accepted Trades
            li
                a(href="https://page-exchange-zbay.c9users.io/settings") Settings
            li
                a(href="https://page-exchange-zbay.c9users.io/logout") Log Out