nav.navbar.navbar-inverse
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='https://github.com/zbay') Zbay Industries
      ul.nav.navbar-nav.navbar-left
        li
          a(href='https://page-exchange.herokuapp.com') Home
      ul.nav.navbar-nav.navbar-right
        if !loggedIn
            li
                a(href="https://page-exchange.herokuapp.com/signup") Sign Up
            li
                a(href="https://page-exchange.herokuapp.com/login") Login
        else
            li
                a(href="https://page-exchange.herokuapp.com/availableBooks") All Books
            li
                a(href="https://page-exchange.herokuapp.com/myBooks") My Books
            li.dropdown
                a(href="#" data-toggle="dropdown") My Trades
                    | 
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="https://page-exchange.herokuapp.com/pendingTrades/outgoing") Proposed By Me
                        a(href="https://page-exchange.herokuapp.com/pendingTrades/incoming") Proposed To Me
                        a(href="https://page-exchange.herokuapp.com/acceptedTrades") Accepted Trades
            li
                a(href="https://page-exchange.herokuapp.com/settings") Settings
            li
                a(href="https://page-exchange.herokuapp.com/logout") Log Out