nav.navbar.navbar-inverse
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='https://page-exchange-zbay.c9users.io') Page Exchange
      ul.nav.navbar-nav.navbar-left
        li
          a(href='https://page-exchange-zbay.c9users.io') Home
      ul.nav.navbar-nav.navbar-right
            li
                a(href="./all") All Books
            li
                a(href="./myBooks") My Books
            li
                a(href="./settings") Settings
            li
                a(href="./logout") Log Out