if trades > 0
    div#tradeNotification
        if trades > 1
            a(href="/pendingTrades/incoming") You have received #{trades} trade offers. Click here to view them.
        else
            a(href="/pendingTrades/incoming") You have received a trade offer. Click here to view it.
    br