include ./partials/__header.jade
include ./partials/__navbar.jade
include ./partials/__jumbotron.jade
div#howToUse
    ol#steps
        li List some books you are willing to trade.
        li Search books listed by other users.
        li Propose trades.
        li Execute trades and acquire good reads!
        li Note: all trades must be carried out by users. We'll help you get in touch via email to discuss in-person trades or mailing arrangements.