include ./partials/__header.jade
include ./partials/__navbarLoggedIn.jade
include ./partials/__jumbotron.jade
include ./partials/__tradeNotification.jade
include ./partials/__successAJAX.jade
include ./partials/__errorAJAX.jade

h3 My Books

table#bookTable
    tr
      th Title
      th Author
      th Description
      th Delete?
    each book in books
        tr
          td= book.title
          td= book.author
          td= book.description
          td
            button.deleteBookButton(name="deleteID" value=book.id) X

h3 Add a book to your catalog

div.form
  label
    | Title
    br
    input(type='text', name='title')
  br
  label
    | Author
    br
    input(type='text', name='author')
    br
  br
  label
    | Description (optional)
    br
    input(type='text' name='description')
  br
  input#addBookButton.reverseBox(type='submit', value='Add Book')
script(src="/static/js/ajax/myBooksAJAX.js")