//In this file: display like myBooks except there's a box describing the book you're trading for, and instead of X's there's a 'Trade this book' button
include ./partials/__header.jade
include ./partials/__navbarLoggedIn.jade
include ./partials/__jumbotron.jade

h3 Pick a book to trade

table#bookTable
    tr
      th Title
      th Author
      th Description
      th Delete?
    each book in books
        tr
          td= book.title
          td= book.author
          td= book.description
          td
            button.tradeBookButton(name="tradeID" value=book.id) Trade This Book

script(src="/static/js/ajax/finishTradeOffer.js")
/