include ./partials/__header.jade
include ./partials/__navbarLoggedIn.jade
include ./partials/__jumbotron.jade
include ./partials/__errorAJAX.jade
include ./partials/__successAJAX.jade

h3 Optional Profile Info
div.form
  label
    | City
  br
  input(type='text', name='city', value=userCity)
  br
  label
    | State or Province or Country
  br
  input(type='text', name='region', value=userRegion)
  br
  br
  input#profileButton(type='submit', value='Save changes')
div.form
  br
  h3 Change Email, Password, or Name
  label
    | Name
  br
  input(type="text", name="name", value=userName)
  br
  label
    | Email
  br
  input(type="email" name="email", value=userEmail)
  br
  label
    | Current Password
  br
  input(type="password", name="oldPassword")
  br
  label
    | New Password (or confirm the current one)
  br
  input(type="password", name="newPassword")
  br
  br
  input#newPasswordButton(type="submit", value="Save changes")
script(src="/static/js/ajax/settingsAJAX.js")