include ./partials/__header.jade
include ./partials/__navbarNotLoggedIn.jade
include ./partials/__jumbotron.jade
if error
  include ./partials/__error.jade
  mixin errorDisplay(error)
form#signupform(method='POST')
  label
    | Name
    br
    input(type='text', name='name')
  br
  label
    | Email
    br
    input(type='text', name='email')
  br
  label
    | Password
    br
    input(type='password', name='password')
  br
  input(type='submit', value='Sign Up')